<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-35.35t] %-5p %-50.50c - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT"/>
		</Root>
		<Logger name="org.hibernate" level="WARN"/>
		<Logger name="org.hibernate.type" level="WARN"/>		
	</Loggers>
</Configuration>